<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/myCustom.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/myCustom.css}">
<title>Registrar Aula</title>
</head>
<body class="bg-light">
	<nav class="navbar navbar-light bg-custom" id="bg-custom">
	  <a class="navbar-brand mb-0 h1 text-light" th:href="@{/professor}">Cardeneta</a>
	  <form class="form-inline" th:action="@{/logout}" method="POST">
	    <button type="submit" class="btn btn-outline-light my-2 my-sm-0" th:href="@{/logout}" 
	    		th:text="${session.professor != null ? 'logout, ' + session.professor.nome : session.aluno != null ? 'logout, ' + session.aluno.nome : 'sem sessao'}">
	    </button>
	  </form>
	</nav>

	<div class="container mt-5">
	<div class="row">
		<div class="col-1">
		</div>
		<div class="col-10">
			<h1>Registrar aula</h1>
			<hr>
			<form th:action="@{/aula/registrar}" method="POST" class="p-5 m-auto">
				<div class="form-group">
					<label for="assunto">Assunto</label>
					<input type="text" name="assunto" class="form-control" th:value="*{assunto}" placeholder="Assunto da aula" required autofocus />
				</div>
				<div class="form-group"> 
			        <label class="control-label" for="date">Data</label>
			        <input class="form-control" id="date" name="date" placeholder="dd-MM-yyyy" type="datetime"/>
			     </div>
			     <div class="form-group"> 
			        <label class="control-label" for="turma" >Código da turma</label>
			        <input class="form-control" id="turma" name="turma" placeholder="Código da turma" th:value="${turma.codigo}"  type="text" readonly/>
			     </div>
				  <button type="submit" class="btn btn-primary">Registrar</button>
			</form>
		</div>
		<div class="col-1">
		</div>
	</div>
	
	</div>
	
</body>
</html>