<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<title>Registrar Aula</title>
</head>
<body class="bg-light">

	<div class="container mt-5">
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">
			<form th:action="@{/aula/registrar}" method="POST" class="card p-5 m-auto">
				<h3>Registrar aula</h3>
				<hr>
				<br>
				<div class="form-group">
					<label for="assunto">Assunto</label>
					<input type="text" name="assunto" class="form-control" th:value="*{assunto}" placeholder="Assunto da aula" required autofocus />
				</div>
				<div class="form-group"> 
			        <label class="control-label" for="date">Data</label>
			        <input class="form-control" id="date" name="date" placeholder="dd-MM-yyyy" type="datetime"/>
			     </div>
			     <div class="form-group"> 
			        <label class="control-label" for="turma" >Código da turma</label>
			        <input class="form-control" id="turma" name="turma" placeholder="Código da turma" th:value="${turma.codigo}"  type="text" readonly/>
			     </div>
				  <button type="submit" class="btn btn-info">Registrar</button>
			</form>
		</div>
		<div class="col-2">
		</div>
	</div>
	
	</div>
	
</body>
</html>