<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/myCustom.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/myCustom.css}">
<title>Registrar presença</title>
</head>
<body class="bg-light">

	<nav class="navbar navbar-light bg-custom" id="bg-custom">
	  <a class="navbar-brand mb-0 h1 text-light" th:href="@{/professor}">Cardeneta</a>
	  <form class="form-inline" th:action="@{/logout}" method="POST">
	    <button type="submit" class="btn btn-outline-light my-2 my-sm-0" th:href="@{/logout}" 
	    		th:text="${session.professor != null ? 'logout, ' + session.professor.nome : session.aluno != null ? 'logout, ' + session.aluno.nome : 'sem sessao'}">
	    </button>
	  </form>
	</nav>
	
	<div class="container mt-5">
	<div class="row">
		<div class="col-1">
		</div>
		<div class="col-10">
			<h2 class="text-center m-3">Aula: <span th:text="${aula.assunto}"></span></h2>
			<hr><br>
			<h3>Adicionar presença</h3>
			<form th:action="@{/aula/registrar-presenca}" method="POST" th:object="${aula}" >
			<table class="table table-hover table-stripped">
				<thead class="thead-light">
					<tr>
						<th scope="col">Matricula</th>
						<th scope="col">Nome</th>
						<th scope="col" class="text-center">Presença</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="aluno : ${turma.alunos}">
					<td scope="row" th:text="${aluno.matricula}"></td>
					<td th:text="${aluno.nome}"></td>	
					<td class="text-center">
					<input type="checkbox" th:field="${aula.alunosPresentes}" th:value="${aluno.id}" />
					</td>
				</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary">Registrar</button>
			</form>
		</div>
		<div class="col-1">
		</div>
	</div>
	
	</div>
	
</body>
</html>