<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Listagem de alunos</title>
</head>
<body>

	<div class="container mt-5">
	<h1>Alunos da turma</h1>
	<br>
	<h3 th:text="${turma.disciplina.nome}"></h3>
	<form action="#" th:action="@{/aula/adicionar/}+${turma.codigo}" method="get">
		<button class="btn btn-info" type="submit">Adicionar Aula</button>
	</form>
	<br>
	<table class="table table-hover table-stripped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Matricula</th>
				<th scope="col">Nome</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="aluno : ${alunos}">
			<td scope="row" th:text="${aluno.matricula}"></td>
			<td th:text="${aluno.nome}"></td>	
		</tr>
		</tbody>
	</table>
	</div>

</body>
</html>