@charset "ISO-8859-1";

#bg-custom {
	background: linear-gradient(to right, #7c71f4, #139fff);
}

#card-custom {
	border-top: 4px solid #2aa9ff;
}

#bg-login-custom {
	background: linear-gradient(33deg, #6d63d8, #42b1fd);
	height: 100vh;
	overflow: hidden;
	position: relative;
}

#mt-10 {
	margin-top: 150px;
}

#img {
	background: url("img/monster.png") no-repeat;
	position: absolute;
	width: 80%;
	height: 80%;
	bottom: -20px;
	right: -690px;
}